#Binary Files
*.bin
*.sys

#Elf files
*.elf

#The images
*.img
*.qcow2
*.vmdk

#Object files
*.o

build.sh
maker.sh
/.vs
.idea
cmake-build-debug

.tgdbinit
tgdb
.gdbinit
.gdb_history
.bash_history
tmux.conf